{% extends "layout.html" %}

{% block title %}
    {% block t %}
    {% endblock t %}
{% endblock title %}

{% block main %}
<div style="margin: 20px 5%; width: calc(90%-5px-5px);">
    <h3>{{ self.title() }}</h3>
    <p style="color:rgb(66, 66, 66)">{% block description %}  {% endblock description %}</p>
    <button type="button" name="inquire" id="bt" style="background-color:red; padding:5px;">Inquire Now!</button>
    <br>
    <hr>
    <br>
    <div>{% block img %} {% endblock img %}</div>
    <h4 style="padding: 5px">Product details</h4>
    <hr>
    {% block body %}  {% endblock body %}
</div>
{% endblock main %}