* {
    margin: 0;
}

#description {
    margin-top: 6px;
}

#side {
    visibility: visible;
    z-index: 1;
}

#sidebar {
    visibility: hidden;
    position: fixed;
    margin-top: 40px;
    z-index: 0;
    background-color: gray;
    opacity: 0.9;
    color: white;
    width: 200px;
    height: 100%;
}

#header {
    position: fixed;
    color: white;
    background-color: black;
    text-align: center;
    height: 40px;
    width: 100%;
    z-index: 1000;
}

#links {
    visibility: hidden;
}

.header-a {
    padding-bottom: 20px;
    padding-left: 10px;
    color: white;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover{
    color: cyan;
}

#about > li {
    width: 100%;
    float:left;
}

.list-decorators {
    display: inline-block;
}

#main-text {
    background-color: cyan;
    width:100%;
    padding:2%;
}

#about {
    list-style-type: none;
}

#about-us {
    padding:0;
}

#contact-us {
    width: calc(100% - 50px - 50px);
    padding: 50px;
    background-color: cyan;
    display: inline-block;
}

#how-to-contact1 li {
    list-style-type: none;
    display: inline-block;
    width: 40px;
    padding: 30px;
    text-align: center;
}

#how-to-contact1 {
    width: calc(50% - 150px);
    float: left;
}

#how-to-contact2 li {
    list-style-type: none;
}

#how-to-contact2 {
    width: calc(50% - 150px);
    float: right;
}

#copy {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

#key-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: cyan;
    color: white;
}

#products {
    margin: auto;
}

#products > li {
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 220px;
    display: inline-block;
    
}

#news {
    background-color: lightgray;
    margin-top: 800px;
    padding: 5%;
    height:500px;
}

#dad {
    float:left;
    width:40%;
}

#news-links {
    padding:10px;
    float:left;
    width:40%;
    list-style-type: none;
}

@media only screen and (min-width: 1000px) {
    #header {
        position: fixed;
        background-color: black;
        text-align: center;
        height: 60px;
        width: 100%;
    }

    #side {
        visibility: hidden;
    }

    #sidebar {
        visibility: hidden;
    }

    #links {
        visibility: visible;
    }

    .header-a {
        padding: 40px 20px 10px;
        color: #dddddd;
        text-decoration: none;
    }

    #about-us {
        padding:2.5%;
        padding-top:10%;
        background-color: black;
    }
    
    #main-text {
        width:15%;
        margin-top: -2%;
        padding:10px;
        background-color: cyan;
        float:left;
    }
    
    #about {
        margin-top:6%;
        float:left;
        background-color: white;
        list-style-type: none;
        width:75%;
    }
    
    #about > li {
        width: 40%;
        margin:2%;
        float:left;
    }

    .list-decorators {
        display: inline-block;
    }
}