{% extends "products.html" %}

{% block t %} Safe Algorithm Chip {% endblock t %}

{% block description %} 
    According to different blockchain and 'Internet of Things' terminal application requirements, provide customized chip customization required by application scenarios.
{% endblock description %}

{% block img %} 
    <img id="img" src="../static/jpgs/products/3832003/p1.jpg" width="100%"onclick="next()">
    <script>
    
        var i = 1;
        function next() {
            i++;

            if (i == 4) {
                i = 1;
            }

            document.getElementById("img").src = "../static/jpgs/products/3832003/p"+i+".jpg";
        }
        
    </script>
{% endblock img %}

{% block body %}
    <div style="padding: 20px">
        <style>
            li {
                padding: 5px;
            }
        </style>
        <h4 style="padding: 5px">Product details</h4>
        <hr>
        <h5 style="padding: 5px">Product Features</h5>
        <ul>
            <li>
                CPU Cores can be chosen from various series such as 8051/ARM/IBEX/RISC5
            </li>
            <li>
                Various traditional information security algorithms/blockchain industry algorithms can be selected according to the application requirements
            </li>
            <li>
                Security protection components such as code encryption, anti-SPA/DPA attack, and anti-slice cracking can be selected according to the security protection level of the chip
            </li>
            <li>
                According to the terminal application requirements, it can provide algorithm hardware acceleration engine support such as neural network and machine hearing.
            </li>
        </ul>
        <hr>
        <h5 style="padding: 5px">Market positioning</h5>
        <ul>
            <li>
                Block chain, Internet of Things, artificial intelligence terminal-side main control chip to meet specific edge computing needs
            </li>
        </ul>
        <hr>
        <h5 style="padding: 5px">Chip algorithm customization</h5>
        <ul>
            <li>
                CoreChain provides algorithm-related design documents and source code
            </li>
            <li>
                The algorithm bearing hardware platform can be selected according to customer needs
            </li>
        </ul>
    </div>
    <img src="../static/jpgs/products/3832003/table.jpg" alt="table" width="100%">
{% endblock body %}