{% extends "products.html" %}

{% block t %} Blockchain Intelligent Hardware {% endblock t %}

{% block description %} 
    IoT + Blockchain
{% endblock description %}

{% block img %} 
    <img id="img" src="../static/jpgs/products/3832067/p.jpg" width="100%">
{% endblock img %}

{% block body %}
    <div style="padding: 20px">
        <style>
            li {
                padding: 5px;
            }
        </style>
        <h4 style="padding: 5px">Blockchain FPGA algorithm terminal</h4>
        <hr>
        <h5 style="padding: 5px">Product Features</h5>
        <ul>
            <li>
                1 28nm FPGA chip computing power board
            </li>
            <li>
                1 Raspberry Pi main control board
            </li>
            <li>
                Support multiple algorithms for re-downloading
            </li>
            <li>Power consumption: &#60;40W</li>
        </ul>
        <h5 style="padding: 5px">Market positioning</h5>
        <ul>
            <li>
                According to the needs of the blockchain operation team, provide variable algorithm blockchain terminal solution node solution services
            </li>
            <li>
                Supports downloading of multiple algorithms, and the algorithm can be changed regularly according to the needs of the operation team to prevent computing power hijacking
            </li>
        </ul>
        <img id="img" src="../static/jpgs/products/3832067/p.jpg" width="50%">
        <h4 style="padding: 5px">Blockchain Scanner</h4>
        <hr>
        <h5 style="padding: 5px">Product Features</h5>
        <ul>
            <li>
                Built-in 32-bit secure blockchain security chip
            </li>
            <li>
                Supports multiple blockchain security algorithms
            </li>
            <li>
                Support 2G wireless Internet access and WiFi connection, which can be seamlessly connected with the existing user system
            </li>
            <li>
                Support various QR code scanning forms, and connect with the user-specified system
            </li>
        </ul>
        <h5 style="padding: 5px">Product service plan</h5>
        <ul>
            <li>
                According to the user's product needs, various specifications of blockchain code scanners can be customized
            </li>
        </ul>
        <img id="img" src="../static/jpgs/products/3832067/p-img1.jpg" width="50%">
        <h4 style="padding: 5px">Blockchain Data Transfer Module (DTU)</h4>
        <hr>
        <h5 style="padding: 5px">Product Features</h5>
        <ul>
            <li>
                Built-in 32-bit secure blockchain security chip
            </li>
            <li>
                Supports multiple blockchain security algorithms
            </li>
            <li>
                Support 485/UART data interface
            </li>
            <li>
                Support mobile/Unicom/Telecom operators, support 2G/4G access
            </li>
            <li>
                Support local SIM card/ESIM access, built-in cloud SIM remote configuration technology, can flexibly schedule traffic requirements according to user needs, users do not need to buy SIM cards by themselves
            </li>
            <li>
                4G bandwidth up to 150M, meeting high-bandwidth data uplink requirements such as monitoring and remote server synchronization
            </li>
        </ul>
        <h5 style="padding: 5px">Product service plan</h5>
        <ul>
            <li>
                Can cooperate with traditional intelligent hardware, seamlessly support traditional intelligent hardware on-chain
            </li>
            <li>
                Support multiple algorithm downloads, which can be customized according to the needs of the operation team
            </li>
        </ul>
        <img id="img" src="../static/jpgs/products/3832067/p-img2.jpg" width="50%">
    </div>
{% endblock body %}