{% extends "products.html" %}

{% block t %} Safe Algorithm Speedup Board {% endblock t %}

{% block description %} 
    According to application requirements, algorithm module customization and FPGA selection customization are provided.
{% endblock description %}

{% block img %} 
    <img id="img" src="../static/jpgs/products/4502226/p.jpg" width="100%">
{% endblock img %}

{% block body %}
    <div style="padding: 20px">
        <style>
            li {
                padding: 5px;
            }
        </style>
        <h4 style="padding: 5px">Product Details</h4>
        <hr>
        <h5 style="padding: 5px">Safe Algorithm Speedup Board</h5>
        <ul>
            <li>
                FPGA type: Xilinx K7 series FPGA
            </li>
            <li>
                High-speed interface PCIE Gen2 8Lane
            </li>
            <li>
                Low-speed interface USB2.0/serial port/network port
            </li>
            <li>
                Algorithm support:
            </li>
            <ol>
                <li>
                    Hash class algorithms: SHA2/3, Blake, SM3
                </li>
                <li>
                    Symmetric algorithm: AES, SM1
                </li>
                <li>
                    Asymmetric algorithms: ECC, RSA, SM2
                </li>
            </ol>
            <li>
                Provide C language driver and call examples
            </li>
            <li>
                Provide algorithm module customization and FPGA selection customization according to application requirements
            </li>
        </ul>
        <img id="img" src="../static/jpgs/products/4502226/p-img1.jpg" width="50%">
        <hr>
        <h5 style="padding: 5px">Safe Algorithm Accelerator</h5>
        <ul>
            <li>
                Motherboard Intel E5 , 8*32G memory, 5PCIe slot
            </li>
            <li>
                FPGA accelerator card: 1-4 Xilinx K7 series FPGA accelerator cards
            </li>
            <li>
                High-speed optical port 40Gbps
            </li>
            <li>
                High-speed network port 1000M
            </li>
            <li>
                Algorithm support:
            </li>
            <ol>
                <li>
                    Hash class algorithms: SHA2/3, Blake, SM3
                </li>
                <li>
                    Symmetric algorithm: AES, SM1
                </li>
                <li>
                    Asymmetric algorithms: ECC, RSA, SM2
                </li>
            </ol>
            <li>
                Provide C language driver and call examples
            </li>
            <li>
                Provide algorithm module customization and FPGA selection customization according to application requirements
            </li>
        </ul>
        <img id="img" src="../static/jpgs/products/4502226/p-img2.jpg" width="50%">
    </div>
{% endblock body %}