{% extends "products.html" %}

{% block t %} Safe Algorithm Speedup Board {% endblock t %}

{% block description %} 
    According to application requirements, algorithm module customization and FPGA selection customization are provided.
{% endblock description %}

{% block img %} 
    <img id="img" src="../static/jpgs/products/4502226/p.jpg" width="100%">
{% endblock img %}

{% block body %}
    <div style="padding: 20px">
        <h4 style="padding: 5px">Product details</h4>
        <hr>
        <h5 style="padding: 5px">Product Features</h5>
        <ul>
            <li style="padding: 5px">
                CPU Cores can be chosen from various series such as 8051/ARM/IBEX/RISC5
            </li>
            <li style="padding: 5px">
                Various traditional information security algorithms/blockchain industry algorithms can be selected according to the application requirements
            </li>
            <li style="padding: 5px">
                Security protection components such as code encryption, anti-SPA/DPA attack, and anti-slice cracking can be selected according to the security protection level of the chip
            </li>
            <li style="padding: 5px">
                According to the terminal application requirements, it can provide algorithm hardware acceleration engine support such as neural network and machine hearing.
            </li>
        </ul>
        <hr>
        <h5 style="padding: 5px">Market positioning</h5>
        <ul>
            <li style="padding: 5px">
                Block chain, Internet of Things, artificial intelligence terminal-side main control chip to meet specific edge computing needs
            </li>
        </ul>
        <hr>
        <h5 style="padding: 5px">Chip algorithm customization</h5>
        <ul>
            <li style="padding: 5px">
                CoreChain provides algorithm-related design documents and source code
            </li>
            <li style="padding: 5px">
                The algorithm bearing hardware platform can be selected according to customer needs
            </li>
        </ul>
    </div>
{% endblock body %}