{% extends "products.html" %}

{% block t %} Blockchain supervision and depository infrastructure {% endblock t %}

{% block description %} 
    The middleware of the blockchain system for government data storage certificate.
{% endblock description %}

{% block img %} 
    <img id="img" src="../static/jpgs/products/4502382/p.jpg" width="100%">
{% endblock img %}

{% block body %}
    <div style="padding: 20px">
        <style>
            li {
                padding: 5px;
            }
        </style>

        <h4 style="padding: 5px">Blockchain FPGA Algorithm Terminal</h4>
        <hr>
        Based on the block chain technology, the characteristics of data that cannot be tampered with are guaranteed from the mathematical principle, and the government data block chain supervision and certificate storage infrastructure is built to realize the block chain certificate storage of e-government data.
        <br>
        <strong>The overall architecture of government affairs data blockchain supervision and depository infrastructure:</strong>
        <br>
        <img id="img" src="../static/jpgs/products/4502382/p.jpg" width="50%">

        <h4 style="padding: 5px">Data Access Gateway:</h4>
        Encapsulates complex blockchain linking logic, provides an easy-to-use http interface for business systems, and converts monitoring data (original, automatic filtering, manual correction, manual reporting), basic water data (original, change), and key business process data. Uploaded to the blockchain according to the rules for deposit.
        <img id="img" src="../static/jpgs/products/4502382/p-img1.jpg" width="50%">

        <h4 style="padding: 5px">Data Presentation Gateway</h4>
        It encapsulates complex data acquisition logic on the blockchain and provides an easy-to-use http interface for business systems.
        <img id="img" src="../static/jpgs/products/4502382/p-img2.jpg" width="75%">
    </div>
{% endblock body %}