{% extends 'layout.html' %}

{% block main %}
    <style>
        .jpg {
            position: relative;
            z-index: 1;
            height:280px; 
            width:360px;
            border-radius: 10px;
        }

        .d {
            position: absolute;
            padding: 20px;
            height:240px; 
            width:320px;
            z-index: 2;
            background-color: red;
            top:0;
            border-radius: 10px;
            visibility: hidden;
        }

        .anchor {
            text-decoration: none;
            color: black;
            margin: 30px;
            padding: 3px;
            border: 2px solid white;
            border-radius: 10px;
            display: block;
            text-align: center;
            width: 100px;
        }

        #list {
            list-decoration-type: none;
        }

        #list > li {
            display: inline-block;
            margin: 20px;
        }
    </style>
    <img src="../static/jpgs/contents/336464/p.jpg" width="100%">
    <h1 style="text-align: center"> Customer Case</h1>
    <ul id="list">
        <li>
            <div onmouseover="hover(1)" class="jpg">
                <img src="../static/jpgs/contents/336464/p-img1.jpg"  width="360" height="280" onmousemove="hover('p1')">
                <div class="d" id="p1" onmouseout="out('p1')">
                    <time>2020/10/28</time>
                    <h3>Blockchain + Education/Training</h3>
                    <p>The core chain blockchain teaching system applied to a university in Shenzhen</p>
                    <a class="anchor" href="/NewsDetail/2255002">Learn more</a>
                </div>
            </div>
        </li>
        <li>
            <div onmouseover="hover(2)" class="jpg">
                <img src="../static/jpgs/contents/336464/p-img2.jpg" width="360" height="280" onmousemove="hover('p2')">
                <div class="d" id="p2" onmouseout="out('p2')">
                    <time>2020/10/28</time>
                    <h3>Blockchain + Water Affairs</h3>
                    <p>Water affairs blockchain data supervision and certificate system</p>
                    <a class="anchor" href="/NewsDetail/2254949">Learn more</a>
                </div>
            </div>
        </li>
    </ul>
    <script>
        function hover(id){
            document.getElementById(id).style.visibility = "visible";
        }
        function out(id){
            document.getElementById(id).style.visibility = "hidden";
        }
    </script>
{% endblock main %}