{% extends "layout.html" %}

{% block main %}
<div id="key-products">
    <h1 id="key-title">
                Key Products <br>
        <strong>____________</strong>
    </h1>
    <ul id="products">
        <li>
            <img src="../static/jpgs/key-products/safe-alg-chip.jpg" width="220" height="220"><br>
            Safe Algorithm Chip
        </li>
        <li>
            <img src="../static/jpgs/key-products/safe-alg-speedup-board.jpg" width="220" height="220"><br>
            Safe Algorithm Speedup Board
        </li>
        <li>
            <img src="../static/jpgs/key-products/blckchn-intel-hdwr.jpg" width="220" height="220"><br>
            Blockchain Intelligent Hardware
        </li>
        <li>
            <img src="../static/jpgs/key-products/blckchn-infrstruct.jpg" width="220" height="220"><br>
            Blockchain Supervision and Depository infrastructure
        </li>
        <li>
            <img src="../static/jpgs/key-products/blckchn-edu.jpg" width="220" height="220"><br>
            Blockchain Education
        </li>
    </ul>
    <img src="../static/jpgs/transfer.jpg" width="100%">
</div>
{% endblock %}