{% extends "layout.html" %}

{% block main %}
<div id="key-products">
    <h1 id="key-title">
                Key Products <br>
        <strong>____________</strong>
    </h1>
    <ul id="products">
        <li>
            <a href="products/3832003">
                <img src="../static/jpgs/key-products/safe-alg-chip.jpg" width="220" height="220"><br>
                Safe Algorithm Chip
            </a>
        </li>
        <li>
            <a href="products/4502226">
                <img src="../static/jpgs/key-products/safe-alg-speedup-board.jpg" width="220" height="220"><br>
                Safe Algorithm Speedup Board
            </a>
        </li>
        <li>
            <a href="products/3832067">
                <img src="../static/jpgs/key-products/blckchn-intel-hdwr.jpg" width="220" height="220"><br>
                Blockchain Intelligent Hardware
            </a>
        </li>
        <li>
            <a href="products/4502382">
            <img src="../static/jpgs/key-products/blckchn-infrstruct.jpg" width="220" height="220"><br>
            Blockchain Supervision and Depository infrastructure
            </a>
        </li>
        <li>
            <a href="products/3832071">
                <img src="../static/jpgs/key-products/blckchn-edu.jpg" width="220" height="220"><br>
                Blockchain Education
            </a>
        </li>
    </ul>
    <img src="../static/jpgs/transfer.jpg" width="100%">
</div>
<div id="about-us">
    <div id="main-text">
        <h2>About Us</h2>
        <p>Shenzhen Core Chain Technology Co., Ltd. is a high-tech company formed by technical experts and product solution experts in the fields of integrated circuits, blockchain, intelligent hardware, security and communication. The team is committed to the industry users of the blockchain, providing a series of products and technical services from blockchain chip customization, intelligent hardware solutions, and blockchain industry vertical solutions.</p>
    </div>
    <ul id="about">
        <li>
            <img src="../static/jpgs/about-us/1.jpg" class="list-decorators" height="45" width="45">
            <h4>Integrated Circuit</h4>
            <p>The company's experts in the field of integrated circuits have more than ten years of design experience in the fields of security algorithms, SOC, and MCU, and have accumulated dozens of successful projects, covering information security, consumer electronics, blockchain algorithm chips and other fields. The mainstream design process reaches 14nm.</p>
        </li>
        <li>
            <img src="../static/jpgs/about-us/2.jpg" class="list-decorators" height="45" width="45">
            <h4>Security Algorithm</h4>
            <p>The company's security experts have more than ten years of industry experience in the field of security applications, and can provide algorithm customization from various Hash algorithms, public key algorithms and consensus protocols for various industry user needs. The customization can be in the form of chips, FPGAs or intelligent hardware supply.</p>
        </li>
        <li>
            <img src="../static/jpgs/about-us/3.jpg" class="list-decorators" height="45" width="45">
            <h4>Blockchain</h4>
            <p>The company's blockchain experts have many years of experience in blockchain design and operation, and can customize a series of vertical solutions for industry blockchains from technology, product side to operation, etc. according to the needs of industry users.</p>
        </li>
        <li>
            <img src="../static/jpgs/about-us/4.jpg" class="list-decorators" height="45" width="45">
            <h4>Communication</h4>
            <p>The company's communication experts have more than ten years of industry experience in the field of communication, and have dozens of project experience in the fields of Internet of Things, e-SIM, NB-IoT, and LoRa applications, which can help industry users in the industrial application of blockchain. Reliable communication technology support.</p>
        </li>
        <li>
            <img src="../static/jpgs/about-us/5.jpg" class="list-decorators" height="45" width="45">
            <h4>Smart Hardware</h4>
            <p>The company's intelligent hardware experts have more than ten years of system experience in the field of intelligent hardware design, and can work with blockchain experts to provide industry users with comprehensive solutions from blockchain wallets, blockchain hardware nodes, and blockchain mining machines. Blockchain hardware products.</p>
        </li>
    </ul>
</div>
<div id="news">
    <h2>Latest News</h2>
    <img src="../static/jpgs/dad-talking.jpg" width="50%" id="dad">
    <ul id="news-links">
        <li>
            <a href="/NewsDetail/2298002">
                Yunjitong eSIM high-density card pool debuted at the 22nd China Hi-Tech Fair
            </a>
        </li>
        <li>
            <a href="/NewsDetail/2298123">
                Tianhe Guoyun and Corechain Technology reached a blockchain strategic cooperation agreement
            </a>
        </li>
        <li>
            <a href="/NewsDetail/1882496">
                Corechain Technology's first Hash algorithm ASIC chip comes out
            </a>
        </li>
    </ul>
</div>
<img src="../static/jpgs/blockchain-stuff.jpg" width="100%">
{% endblock %}