{% extends "layout.html" %}

{% block main %}
<div id="key-products">
    <h1 id="key-title">
                Key Products <br>
        <strong>____________</strong>
    </h1>
    <ul id="products">
        <li>
            <a href="3832003">
                <img src="../static/jpgs/key-products/safe-alg-chip.jpg" width="220" height="220"><br>
                Safe Algorithm Chip
            </a>
        </li>
        <li>
            <a href="4502226">
                <img src="../static/jpgs/key-products/safe-alg-speedup-board.jpg" width="220" height="220"><br>
                Safe Algorithm Speedup Board
            </a>
        </li>
        <li>
            <img src="../static/jpgs/key-products/blckchn-intel-hdwr.jpg" width="220" height="220"><br>
            Blockchain Intelligent Hardware
        </li>
        <li>
            <img src="../static/jpgs/key-products/blckchn-infrstruct.jpg" width="220" height="220"><br>
            Blockchain Supervision and Depository infrastructure
        </li>
        <li>
            <img src="../static/jpgs/key-products/blckchn-edu.jpg" width="220" height="220"><br>
            Blockchain Education
        </li>
    </ul>
    <img src="../static/jpgs/transfer.jpg" width="100%">
</div>
<div id="about-us">
    <div id="main-text">
        <h3>About Us</h3>
        <p>Shenzhen Core Chain Technology Co., Ltd. is a high-tech company formed by technical experts and product solution experts in the fields of integrated circuits, blockchain, intelligent hardware, security and communication. The team is committed to the industry users of the blockchain, providing a series of products and technical services from blockchain chip customization, intelligent hardware solutions, and blockchain industry vertical solutions.</p>
    </div>
</div>
{% endblock %}