<!--Sillico-->
<!--By Gordon Peng - 'Gordon-coder'-->
<!DOCTYPE html>

<html lang="en">
    <head>
        <!--Head-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/styles.css">
        <title>{% block title %} Sillico {% endblock title %}</title>
    </head>
    <body>
        <!--Header-->
        <div id="header">
            <img src="../static/jpgs/side.jpg" height="40" onclick="showsidebar()" id="side">
            <img src="../static/jpgs/logo.jpg" alt="Logo" width="174">
            <span id="links">
                <a href="/" class="header-a">Mainpage</a>
                <a href="/#about-us" class="header-a" >About Us</a>
                <a href="/#news" class="header-a" >News</a>
                <a href="/#key-products" class="header-a" >Key Products</a>
                <a href="/contents/793909a" class="header-a" >Research Institute</a>
                <a href="/#contact-us" class="header-a" >Contact us</a>
            </span>
        </div>
        <!--Sidebar-->
        <div id="sidebar">
            <div id="side-links">
                <a href="/" class="header-a">Mainpage</a><br>
                <a href="/#about-us" class="header-a" >About Us</a><br>
                <a href="/#news" class="header-a" >News</a><br>
                <a href="/#key-products" class="header-a" >Key Products</a><br>
                <a href="/contents/793909a" class="header-a" >Research Institute</a><br>
                <a href="/#contact-us" class="header-a" >Contact us</a><br>
            </div>
        </div>
        <!--Script for sidebar-->
        <script>
            function showsidebar() {
                if (document.getElementById("sidebar").style.visibility == "visible"){
                    document.getElementById("sidebar").style.visibility = "hidden";
                } else {
                    document.getElementById("sidebar").style.visibility = "visible";
                }
            }

            function reset() {
                if (window.matchMedia("(min-width: 800px)").matches) {
                    document.getElementById("sidebar").style.visibility = "hidden";
                }
            }

            setInterval(reset, 100);
        </script>
        <main>
            <!--Picture animaton-->
            <div id="animation">
                <img src="../static/jpgs/description/d1.jpg" onclick="next()" id="description" width="100%">
                <script>
                    var d = 1;
                    function next() {
                        d++;

                        if (d == 4) {
                            d = 1;
                        }

                        document.getElementById("description").src = "../static/jpgs/description/d"+d+".jpg";
                    }
                    //setInterval(next, 10000);
                </script>
            </div>
            <!--Main block-->
            {% block main %}  {% endblock main %}
        </main>
        <footer id="contact-us">
            <!--Footer-->
            <h2>CONTACT US</h2><br>
            <span id="how-to-contact1">
                <ul>
                    <li>
                        <a href=""><img src="../static/jpgs/footer/wechat.jpg" width="30px"></a><br>
                        sz_insilico
                    </li>
                    <li>
                        <a href="https://www.facebook.com/insilicochina/"><img src="../static/jpgs/footer/facebook.jpg" width="30px"></a><br>
                        insilicochina
                    </li>
                    <li>
                        <a href="https://twitter.com/insilicochina"><img src="../static/jpgs/footer/twitter.jpg" width="30px"></a><br>
                        insilicochina
                    </li>
                    <li>
                        <a href="https://github.com/SilicoDesign/Blockchain-Tech"><img src="../static/jpgs/footer/github.jpg" width="30px"></a><br>
                        SilicoDesign/Blockchain-Tech
                    </li>
                </ul>
            </span>
            <span id="how-to-contact2">
                <ul>
                    <li>
                        <img src="../static/jpgs/footer/tel.jpg">
                        0755-8653 4493
                    </li>
                    <li>
                        <img src="../static/jpgs/footer/mail.jpg">
                        silico@silico.design
                    </li>
                    <li>
                        <img src="../static/jpgs/footer/location.jpg">
                        Room 2306, Changhong Science and Technology Building, No. 18, Keji South 12th Road, Nanshan District, Shenzhen, China
                    </li>
                </ul>
            </span>
        </footer>
        <div id="copy">
            Copyright &copy; 2018-2028 www.insil.co All Rights Reserved Shenzhen Corechain Technology Co., Ltd.
        </div>
    </body>
</html>