{% extends 'layout.html' %}

{% block main %}
<div style="padding: 10px">
    <h3>Blockchain + Education/Training</h3>
    <p>Author: insilico <br>Browse: 977 <br>Published: 2020-10-28 15:01:11 <br>Source: Application Case</p>
    <img src="../static/jpgs/newsDetail/2255002/e1.jpg" width="90%">
    <img src="../static/jpgs/newsDetail/2255002/e2.jpg" width="90%">
    <img src="../static/jpgs/newsDetail/2255002/e3.jpg" width="90%">
    <img src="../static/jpgs/newsDetail/2255002/e4.jpg" width="90%">
</div>
{% endblock main %}