{% extends "products.html" %}

{% block t %} Blockchain application teaching system {% endblock t %}

{% block description %} 
Taking the SCT node host as the core, it is equipped with a set of hardware accessories and experimental software required for the course (8 sections) to help the experimental operator combine theory and practice to form a basic blockchain technology knowledge structure.
{% endblock description %}

{% block img %} 
    <img id="img" src="../static/jpgs/products/3832071/p.jpg" width="100%">
{% endblock img %}

{% block body %}
    <div style="padding: 20px">
        <style>
            li {
                padding: 5px;
            }
        </style>
        <h5 style="padding: 5px">Product Description</h5>
        <hr>
        <h5 style="padding: 5px; color: #77f">Teaching hardware (node host):</h5>
        Based on the core chain technology blockchain intelligent terminal, 3 blockchain intelligent terminals are independently networked, and the intelligent terminal provides main chain services, courseware and tutorial services.
        <h5 style="padding: 5px; color: #77f">Teaching software:</h5>
        The system software has built-in core chain SCC chain, blockchain browser, SCC soft wallet, SCC chain experiment software, and IoT device interface.
        <h5 style="padding: 5px; color: #77f">Textbook:</h5>
        <ul style="list-decoration-type: none">
            <li>
                Laboratory Practice Instruction Manual (for teachers)
            </li>
            <li>
                Laboratory Practice Instruction Manual (for students)
            </li>
            <li>
                Experiment Guide (8 experimental lessons)
            </li>
            <li>
                Blockchain theory teaching ppt (for teachers)
            </li>
        </ul>
        <h5 style="padding: 5px">service form</h5>
        <ul>
            <li>
                CoreChain provides basic hardware platforms, standard blockchain + IoT teaching tutorials, courseware and software
            </li>
            <li>
                The main chain structure for teaching can be changed according to customer needs
            </li>
            <li>
                Teaching tutorials and teaching scene equipment can be changed according to customer needs
            </li>
        </ul>
{% endblock body %}